
#logo{
	width:30%;
}
.userImage{
    width:auto !important;
    margin-left: 1%;

}
.topAlign{
  margin-top: -21%;

 
}
#header{

   background-image: linear-gradient(to bottom,#F0503C,#F0503C);
}
.logout{
	 margin-left:90%;
	 
}
.alignMenu{
	height:50px;
}
.superadminimage{
	width:15%;
	margin-top:-1%;
}
.logout-dropdown{
	top:74% !important;
	left:50px !important;
}

