<div class="card card-color">
    <div class="card-body p-4 clearfix">
        
        <div class="h5 text-info mb-0 mt-2"></div>
        <div id="lawM" class="text-muted">
                <p class="mydiv"> About Us</p>
        </div>
    </div>
</div>



<div class="row arrangeDiv" >
<!-- <div class=" image ">
<img src="assets/img/Andrew.jpg" width="200" height="200">
</div> -->

<div class="col-lg-10 aboutus text-color"  size="3">
<p>Mattersmith is a platform designed to support lawyers and managers who negotiate, document and manage contracts.  Clients have the choice of a service that combines legal advice and technology-related solutions or access to Mattersmith without the associated legal support.</p> 
<p>Our legal advice and assistance and technology-related solutions are provided by Mattersmith Limited, a recognised body authorised and regulated by the Solicitors Regulation Authority with number 650058.  Mattersmith Limited is a company incorporated in England and Wales with company number 11320618, whose registered office is at Harecross, Longframlington, Morpeth, Northumberland, NE65 8AN.</p>
<p>For clients who prefer not to deal with Mattersmith Limited, Mattersmith is available as a service (without the associated legal support) from Meronymy Limited, a company incorporated in England and Wales with company number 11522505, whose registered office is at 3 AWS Accountancy Ltd, Berrymoor Court, Cramlington, Northumberland, NE23 7RZ.  Meronymy Limited is not authorised or regulated by the Solicitors Regulation Authority and does not provide legal services.</p>
<div class=" pull-left">
<img src="assets/img/Andrew.jpg" class="Andrew-image" width="190" height="240">
</div>
<p>
Mattersmith was designed by Andrew Scott. Andrew is as a leading IT, outsourcing and data protection lawyer.  In a City career spanning over 25 years he has been involved in highly complex and, in some cases, ground-breaking transactions, from multi-jurisdictional outsourcings and systems implementations, to the sale and purchase of banks, third-party administrators, and platforms. </p> 
<p>Over the last 12 years Andrew has been motivated by improving productivity in legal and contractual processes.  As a senior law firm manager and a front-line lawyer, he has developed document automation solutions for his firm and clients.  Now, Andrew is committed to supporting clients when advice matters and improving their operational risk management and efficiency through advanced technologies designed specifically to address the needs of practitioners.</p> 
<p>According to the Legal 500, Andrew “attracts praise for his ‘firm yet pragmatic negotiations’ and for his expertise in outsourcing IT and telecoms procurement matters”.  The Chambers UK Guide quotes one of Andrew’s clients as saying, “I have a high regard for his knowledge of outsourcing work and its complex regulatory requirements”.</p>

</div>

<hr class="blankline">

</div>

   


