<div class="card card-color">
    <div class="card-body p-4 clearfix">
        
        <div class="h5 text-info mb-0 mt-2"></div>
        <div id="lawM" class="text-muted">
                <p class="mydiv"> About Us</p>
        </div>
    </div>
</div>
<div class="row col-md-6 offset-3 ">
    <p class="text-color">
        <font size="3">
            Mattersmith provides legal advice, assistance and technology designed by senior lawyers for lawyers
        </font>
    </p>
</div>
<div class="row col-md-6 offset-3 text-color">
    <p class="text-color">
        <font size="3">
                Technology is an accelerator, not an end in itself, but access to good supporting systems always helps. 
                The features of our platform – Mattersmith Knowledge and Review – 
                reflect decades of experience in the delivery of legal advice and assistance at the highest level.
        </font>
    </p>
</div>

<div class="row col-md-6 offset-3 text-color">
    <p class="text-color">
        <font size="3">
            Mattersmith Limited is a recognised body authorised and regulated by the Solicitors Regulation Authority with number 
            [to be inserted]. The registered office of Mattersmith Limited is at Harecross Farm, Longframlington, 
            Morpeth, Northumberland, NE65 8AN
        </font>
    </p>
</div><br>
<hr class="blankline">


