<header id="header">

<div class="project-context hidden-xs dropdown  alignMenu" dropdown>

  
  <span class="label"></span>
    <span class="project-selector topAlign logout"> </span>
 <img class="pull-left superadminimage" src="/assets/img/superadmin.png" width=20>
<div class="btn-group pull-right" style="margin-right: 4%;color:white;padding-left:6%;cursor:pointer " dropdown>
            <p dropdownToggle  class="dropdown-toggle">
               {{firstname}}<span class="caret"></span>
            </p>
            <ul *dropdownMenu class="dropdown-menu logout-dropdown"  role="menu">
              <li role="menuitem"><a class="dropdown-item" (click)="logout()">LogOut</a></li>
          
            </ul>
  </div>


</div>
  <div id="logo-group">

   
  </div>


 
  

</header>
