.card-color{
    background-color: #f0503c;
    border-color: #f0503c;
    height :80px;
}


.text-muted{
    justify-content: center;
    display: flex;
    color: white  !important;
    font-size: 1.75rem !important;
}
.knowledge{
    justify-content: center;
    display: flex;
    font-size: 19px !important;
    color: #f0503c  !important;
    // font-size: 1.75rem !important;
}
.knowledge-data{
    justify-content: center;
    display: flex;
    font-size: 15px !important;
    color: white  !important;
}



@font-face {
    font-family: "lawMatters";
    src: "assets/font/NoeDisplayMedium.woff" format('woff');
    font-weight: normal;
    font-style: arial;
 }
 .mydiv {
    color:white;
    font-size: 45px;
    margin-top: -22px;
    font-family: lawMatters
 }

#lawM{
   font-family: "Baskerville Old Face"
}

.comapany_desc{
	margin-left:6%;
	width:85%;
   font-family: "Arial";

}
.desc{
	color:white;
	font-family: "Times New Roman";
	border:0px!important
}
.text-center{
    justify-content: center;
    display: flex;
}

.text-color {
    color:white;
    justify-content: center;
    display: flex;
}
.blankline{
	background-color:white;
	width:89%;
    margin-top:8%;
}
