<div class="card card-color">
        <div class="card-body p-4 clearfix">
            
            <div class="h5 text-info mb-0 mt-2"></div>
            <div id="lawM " class="text-muted">
                    <p class="mydiv "> Non-disclosure agreements </p>
            </div>
        </div>
    </div>
    <div class="row col-md-10 offset-1 ">
        <div class="row col-12">
           
        </div>
        <div class="row col-12">
            <br>
        </div>
        <div class="row col-12">
            <div class="col-5">
                    <p class="mydiv knowledge"> When volume is a problem</p>
                    <div class="knowledge-data">
                            A volume of NDAs can rapidly become a problem. Mattersmith provides viable options: outsource the problem or 
                            use technology to improve productivity, make life easier and accelerate the provision of legal advice. 
                            We’ve hands-on experience of NDAs every day from capital markets to commercial.  
                            The solution may be no more than applying your policies through our automated playbooks, 
                            but we’re capable of advising the highest levels in your organisation.
                    </div>
            </div><div class="col-2"></div>
            <div class="col-5">
                    <p class="mydiv knowledge"> When you can’t outsource</p>
                    <div class="knowledge-data">
                            Use Review to process NDAs.  
                            Frequency counts illustrate the differences between mark-ups and the original draft. 
                            Consider snippets of language to get a sense of whether there is an issue and view the language in context or revert to the version you’ve received for the detail.
                            Playbooks in Knowledge provide guidance and associated language.  
                    </div>
            </div>
        </div>
    
    </div><br>
    <hr class="blankline">