<div class="card" id="bk">
<p class="bgcolor" id="lawM" class="mydiv">Law matters.</p>
<p class="bgcolor" id="techH" class="mydiv">Technology helps.</p>
</div>

<div class=" desc">
<p class="comapany_desc wordbrek"><font size="3">
    Whatever processes you follow or systems you use, in the end it is how you apply the law that matters. 
     Speed counts too.  Mattersmith helps you handle legal and contractual work efficiently.
     If you’re a business managing a myriad of contracts or a lawyer looking to improve productivity,
     our systems and services can assist to reduce cost and improve risk management.  
</font></p>
</div><br>
<hr class="blankline">
<p class="footer">&copy; Mattersmith 2018  </p>
