<div class="card card-color">
    <div class="card-body p-4 clearfix">
        
        <div class="h5 text-info mb-0 mt-2"></div>
        <div id="lawM" class="text-muted">
                <p class="mydiv"> When advice matters</p>
        </div>
    </div>
</div>
<div class="row col-md-6 offset-3 ">
    <p class="text-color">
        <font size="3">
            We are a specialised commercial legal practice dedicated to supporting businesses in their day-to-day operations.  
            We take on as much or as little of the work as you want to delegate.
        </font>
    </p>
</div>
<div class="row col-md-6 offset-3 text-color">
    <p class="text-color">
        <font size="3">
            If a trusted adviser is needed, for example, where you’re embarking on a major project or need advice on data protection, 
            we will advise you on the issues or will help you identify a suitably experienced firm.
        </font>
    </p>
</div>

<div class="row col-md-6 offset-3 text-color">
    <p class="text-color">
        <font size="3">
            Everyday matters often become too time-consuming.  Mattersmith can help by taking over the process. 
            We aim to increase speed where appropriate, make the process more systematic, reduce your time to value, and improve risk management.
        </font>
    </p>
</div><br><br><br>
<hr class="blankline">