<div class="card card-color">
    <div class="card-body p-4 clearfix">
        
        <div class="h5 text-info mb-0 mt-2"></div>
        <div id="lawM " class="text-muted">
                <p class="mydiv "> When technology helps</p>
        </div>
    </div>
</div>
<div class="row col-md-10 offset-1 ">
    <div class="row col-12">
        <p class="text-color">
            <font size="3">
                Mattersmith helps improve the adeptness of day-to-day practice, whether you are external counsel or running an in-house legal business. 
            </font>
        </p>
    </div>
    <div class="row col-12">
        <br>
    </div>
    <div class="row col-12">
        <div class="col-5">
                <p class="mydiv knowledge"> Knowledge</p>
                <div class="knowledge-data">
                        Knowledge is an expert system framework to record and facilitate the retrieval of trusted knowledge and data.  
                        Knowledge enables the visualisation of contracts, the relationships between them, 
                        templates and policies, and the automation of a set of rules or suggestions that are suitable for a particular task.  
                </div>
        </div><div class="col-2"></div>
        <div class="col-5">
                <p class="mydiv knowledge"> Review</p>
                <div class="knowledge-data">
                        Review systematically searches unstructured legal text. 
                        Frequency counts show the number of times a concept appears in the documents.  
                        A report compares the content of a number of documents reviewed simultaneously. 
                        Users can seamlessly access Knowledge to find out how to respond to an issue in a document and to see suggested language with which it may be amended.
                </div>
        </div>
    </div>
</div><br><br><br>
<hr class="blankline">
