<div class="card card-color">
        <div class="card-body p-4 clearfix">
            
            <div class="h5 text-info mb-0 mt-2"></div>
            <div id="lawM" class="text-muted">
                    <p class="mydiv"> Contact Us</p>
            </div>
        </div>
    </div>
    <div class="row col-md-8 row offset-2">
        <p class="text-color">
            <font size="3">
                    There’s not a lot in legal practice we’ve not done, from supporting deals to running them.
                    We don’t pretend to have covered every angle, but we’ve seen a lot of them.
                    Now we want to help you do the heavy lifting.
                    If you are interested in how we could help, or to work with us, or simply would like to know more about what we do, please get in touch.            
            </font>
        </p>
    </div><br/><br/>

    <div class="row col-md-8 row offset-2">
        <div class="col-4 icons">
            <div class="icons-1">
                <i class="fas fa-phone-volume"></i>                                       
            </div><br/>
            <p>Phone: <br> +44 (0) 2038575390</p>
        </div>
        <div class="col-4 icons">
            <div class="icons-2 ">
                <i class="far fa-envelope"></i>
            </div><br/>
            <p>Email: <br> andrew.scott@mattersmith.co.uk</p>
        </div>
        <div class="col-4 icons">
            <div class="icons-3">
                <i class="fas fa-mobile-alt"></i>
            </div><br/>
            <p>Mobile: <br> +44 (0) 7402727000</p>
        </div>
    </div>

    <hr class="blankline">

